@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


nav {
    height: 50px;
    font-family: 'Varela Round';
}

input {
    margin-left: 47%;
}

body {
    background-image: linear-gradient(to right, #170e39, #4b4b5e);

}

hr {
    border-color: black;
}